Dark-cyan = hsl(185, 75%, 39%)
Desaturated-blue = hsl(229, 23%, 23%)
Dark-blue = hsl(227, 10%, 46%)
Dark-gray = hsl(0, 0%, 59%)

*
  box-sizing: border-box
  margin: 0
  padding: 0

html
  font-size: 62.5%
  font-family: 'Kumbh Sans', sans-serif

body
  width: 100vw
  height: 100vh
  background-color: Dark-cyan

.background-right
  width: 978px
  height: 978px
  position: fixed
  bottom: 50%
  right: 50%
  transform: translate(5%, 5%)
  background-image: url(/images/bg-pattern-top.svg)
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.background-left
  width: 978px
  height: 978px
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-5%, -5%)
  background-image: url(/images/bg-pattern-bottom.svg)
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.main
  width: 90%
  height: 95%
  margin: 0 auto
  display: flex
  align-items: center

.card
  width: 267px
  height: 305px
  margin: 0 auto
  position relative
  text-align: center
  border-radius: 10px
  background-color:white
  //box-shadow: 5px 5px 10px Desaturated-blue;
  &__background
    width: 100%
    height: 116px
    background-image: url(/images/bg-pattern-card.svg)
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    border-top-left-radius: 10px
    border-top-right-radius: 10px
  &__information
    width: 100%
    height: 119px
    margin: 0 auto
    border-bottom: 1px #F1F1F1 solid 
    img
      position: absolute
      right: calc(50% - 53px);
      top: calc(50% - 96px)
      border-radius: 50%
      border 5px solid white
    h2
      padding-top: 62px
      font-size: 1.8rem
      color: Desaturated-blue
      i
        font-style: normal
        color: Dark-blue
    p
      font-size: 1.2rem
      font-weight: 700
      padding-top: 10px
      color: Dark-blue
  &__social
    width: 100%
    height: 70px
    margin: 0 auto
    display: flex
    justify-content: space-around
    align-items: center
    h2
      padding-bottom: 5px
      color Desaturated-blue
    p
      font-weight: 700
      color Dark-blue

.attribution
  text-align: center
  font-size: 1.1rem
  color: Desaturated-blue
  a
    text-decoration: none
    color: hsl(228, 45%, 44%)